@import url("/node_modules/normalizecss/normalize.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

:root {
  --customEclipse: rgb(52, 49, 72);
  --customNavyBlazer: rgb(40, 45, 60);
  --customInkwell: rgb(54, 57, 69);
  --customBrilliantWhite: rgb(237, 241, 255);

  --customUltimateGrey: rgb(147, 149, 151);
  --customButterCream: rgb(239, 225, 206);
  --customSweetCorn: rgb(240, 234, 214);
  --customFrenchBlue: rgb(0, 114, 181);
  --customSailorBlue: rgb(46, 74, 98);
  --customMint: rgb(0, 161, 112);
  --customEmerald: rgb(0, 155, 119);
  --customUltramarineGreen: rgb(0, 107, 84);
  --customLivingCoral: rgb(255, 111, 97);
  --customFiredBrick: rgb(106, 46, 42);
  --customMagentaPurple: rgb(108, 36, 76);
  --customJesterRed: rgb(158, 16, 48);

  --customBorder: 2px solid rgb(0, 0, 0);
}

html {
  font-size: 24px;
}

@media (max-width: 368px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: var(--customBrilliantWhite);
  color: var(--customEclipse);
}

input {
  width: 100%;
  border: var(--customBorder);
  border-radius: 8px;
  padding-left: 8px;
}

::selection {
  color: var(--customBrilliantWhite);
  background-color: var(--customJesterRed);
}
