@import url("/node_modules/normalizecss/normalize.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

:root {
  --clr-eclipse: rgb(52, 49, 72);
  --clr-navyBlazer: rgb(40, 45, 60);
  --clr-inkwell: rgb(54, 57, 69);
  --clr-brilliantWhite: rgb(237, 241, 255);

  --clr-ultimateGrey: rgb(147, 149, 151);
  --clr-butterCream: rgb(239, 225, 206);
  --clr-sweetCorn: rgb(240, 234, 214);
  --clr-frenchBlue: rgb(0, 114, 181);
  --clr-sailorBlue: rgb(46, 74, 98);
  --clr-mint: rgb(0, 161, 112);
  --clr-emerald: rgb(0, 155, 119);
  --clr-ultramarineGreen: rgb(0, 107, 84);
  --clr-livingCoral: rgb(255, 111, 97);
  --clr-firedBrick: rgb(106, 46, 42);
  --clr-magentaPurple: rgb(108, 36, 76);
  --clr-jesterRed: rgb(158, 16, 48);

  --custom-border: 2px solid rgb(0, 0, 0);
}

html {
  font-size: 24px;
}

@media (max-width: 368px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: var(--clr-brilliantWhite);
  color: var(--clr-eclipse);
}

input {
  width: 100%;
  border: var(--custom-border);
  border-radius: 8px;
  padding-left: 8px;
}

::selection {
  color: var(--clr-brilliantWhite);
  background-color: var(--clr-jesterRed);
}
