@import "modern-normalize/modern-normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

:root {
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);

  --text-white: rgb(237, 241, 255);
  --text-black: rgb(52, 49, 72);

  --clr-primary: rgb(0, 161, 112);
  --clr-secondary: rgb(54, 57, 69);
  --clr-accent: rgb(158, 16, 48);

  --clr-bg: rgb(237, 241, 255);

  --border: 2px solid rgb(0, 0, 0);
}

html {
  font-size: 24px;
}

@media (max-width: 368px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: var(--clr-bg);
  color: var(--text-black);
}

input {
  width: 100%;
  border: var(--border);
  border-radius: 8px;
  padding-left: 8px;
}

::selection {
  color: var(--text-white);
  background-color: var(--clr-accent);
}
