.container {
  position: relative;
}

.copyBtn {
  padding: 4px 10px;
  position: absolute;
  top: 16px;
  right: 8px;
  font-size: 0.6rem;

  transition: 300ms;

  color: var(--clr-brilliantWhite);
  background-color: var(--clr-inkwell);
  border: 1px solid var(--clr-brilliantWhite);
  border-radius: 8px;
  cursor: pointer;
}

.copyBtn:hover {
  translate: -4px;
}
