.copyBtn {
  display: block;
  margin-left: auto;
  margin-right: 5px;
  padding: 8px 10px;
  font-size: 0.6rem;

  transition: 300ms;

  color: var(--clr-brilliantWhite);
  background-color: var(--clr-inkwell);
  border: 1px solid var(--clr-brilliantWhite);
  border-radius: 8px;
  cursor: pointer;
}

.copyBtn:hover {
  translate: -4px;
}

.highlighter {
  margin-top: 0px;
}

.highlighter > * {
  margin-top: 0px;
}
