# prettier ignores node_modules recursively BY DEFAULT
# node_modules

build/**/*
dist/**/*
vendor/**/*
coverage/**/*
public/**/*
docs/**/*

package-lock.json
yarn.lock
.vscode/**/*
.idea/**/*
.git/**/*
*.min.js
*.min.css
