PORT=3000
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=ngOv8kLTzzBaCTCleg31dHcGOYRFGVi41u6d1o9t0eeOkwbNXyILazihmUF0ozqE

OWNER_EMAIL=owner@gmail.com
OWNER_PASSWORD=ownerpassword
OWNER_NAME=ownername

# local database
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=pass123

POSTGRES_VERSION=18.6-alpine
POSTGRES_PASSWORD=pass123